Read how to implement JWTproperly

- [RFC 9608: JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://www.rfc-editor.org/rfc/rfc9068.html) 
- [RFC 7519: JWT](https://www.rfc-editor.org/rfc/rfc7519.html)
- [How to exploit JWT](https://www.youtube.com/watch?v=IYZeVdXeUro)
- [RFC 7523: JSON Web Token (JWT) Profile
      for OAuth 2.0 Client Authentication and Authorization Grants](https://datatracker.ietf.org/doc/html/rfc7523)
- [JWT vs JWS](https://docs.racket-lang.org/jwt/index.html?q=random)
- [RFC 8725
JSON Web Token Best Current Practices](https://www.rfc-editor.org/rfc/rfc8725.html)
- https://jwt.io/introduction
